[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biodosetools"]
	path = biodosetools
	url = https://github.com/biodosetools-team/biodosetools
